
<%  provide(:title, "Contact")  %> 
<h1> Contacto </h1> 
<p>
  Póngase en contacto con el Ruby on Rails Tutorial acerca de la aplicación de ejemplo en el
  <a  href= "http://www.railstutorial.org/contact"> página de contacto </a> .
</p>
